.mt-6 {
    margin-top: 3.5rem !important;
}

.mt-7 {
    margin-top: 4rem !important;
}

.mt-8 {
    margin-top: 4.5rem !important;
}

.mb-6 {
    margin-bottom: 3.5rem !important;
}

.mb-7 {
    margin-bottom: 4rem !important;
}

.mb-8 {
    margin-bottom: 4.5rem !important;
}

.nav-link {
    margin-left: 1.5rem !important;
}

.img-200 {
    max-width: 200px;
}

.premiumtld-img {
    max-width: 300px;
}

.bigrelease-img {
    max-width: 350px;
}

.pss-link-text {
    font-size: 1.75rem !important;
    font-weight: bold;
}

@media (max-width:480px) {
    .premiumtld-img {
        width: 100% !important;
    }

    .bigrelease-img {
        max-width: 100% !important;
    }

    .pss-link-text {
        font-size: 1.4rem !important;
    }

    .boxrow:nth-child(even) {
        flex-direction: column-reverse!important;
    }
}

@media (min-width: 1200px) {
    .ms-xl-5 {
        margin-left: 3rem !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.phorum-logo {
    width: 250px
}

.tile {
    flex: 0 0 50%;            /* exactly 2 columns */
    min-height: 120px;        /* adjust as you like */
    display: flex;            /* center text */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid #e5e5e5; /* optional */
  }

.tile-blue {
    background-color: #00B0F0;
    font-size: xxx-large;
    color: #FFFFFF;
    height:300px;
  }

.tile-white {
    background-color: #FFFFFF;
    font-size:large;
    color: #000000;
    height:300px;
}

.box-link {
    color:#000000 !important;
}